{% extends 'layouts/base.html' %}

{% block content %}
<div class="main_box">
    <h2>Сотрудник в {{ context.dep_name }} отдел добавлен</h2>
    <h3><u>Данные сотрудника</u></h3>
    <div class="deps_view">
        <p>Имя: {{ context.emp_name }}</p>
         <p>Возраст: {{ context.emp_age }}</p>
          <p>Позиция: {{ context.emp_position }}</p>
           <p>Зарплата: {{ context.emp_salary }}$</p>
    </div>
     <a href="{{ url_for('employees', dep_id=context.dep_id)}}">Назад к списку сотрудников</a>
    <br>
</div>

<style>
    .deps_view {
        width: 220px;
        margin: 0 auto;
        text-align: left;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        background: green;
        color: red;
        text: 20px;
    }
</style>
{% endblock %}